$card-placeholder-color:  rgb(35,154,234);

.home-card {
  width: 200px;
  height: 295px;
  overflow: hidden;
  position: relative;

  &:hover {
    .home-card-title {
      cursor: pointer;
      background: none;
    }

    .home-movie-card {
      transform: scale(1.05, 1.05);
    }
  }

  .home-movie-card {
    width: inherit;
    height: inherit;
    background-size: 200px 250px;
        background: $card-placeholder-color;
        position: absolute;

        transition: all 1s ease;
  }

  .home-movie-title {
      position: absolute;
      left: 0px;
      top: 0px;
      background: rgba(0, 0, 0, 0.4);
      width: inherit;
      height: inherit;

      .home-movie-tile-text {
        position: absolute;
        bottom: 0px;

        height: 40px;
        line-height: 40px;

        width: inherit;
        display: block;
        background: rgba(0, 0, 0, 0.8);
        color: lightgrey;

        padding: 0px 10px;
        box-sizing: border-box;

        text-align: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
  }
}