<div class="test-subject" ng-bind="ctrl.test"></div>

<search-team-input searchCompetitions="ctrl.searchCompetitions($text)"></search-team-input>

<md-diver></md-diver>

<ul ng-repeat="item in ctrl.itemList">
  <li ng-click="ctrl.onItemClick(item)"> {{ item.caption }}(liga: {{item.league}})</li>
</ul>

<md-diver></md-diver>
<div flex layout="row"
  layout-wrap layout-align="center center">
  <md-card ng-repeat="team in ctrl.teams"
    class="home-card"
    md-theme-watch>
    <div class="home-movie-card"
      ng-style="{'background-image': 'url('+ team.crestUrl + ')'}">
    </div>
    <div class="home-movie-title">
      <span class="home-movie-tile-text"> {{ team.name }} (liga: {{team.code}})</span>
    </div>  
  </md-card>
</div>




